# Mercado Pago Configuration
MERCADO_PAGO_ACCESS_TOKEN=

# App Configuration
PUBLIC_URL=

# Email Configuration (SMTP)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=Gestor CNL <noreply@seu-dominio.com>
